public java.lang.String toString() {
    return new org.apache.commons.lang3.builder.ToStringBuilder(this, org.apache.commons.lang3.builder.ToStringStyle.MULTI_LINE_STYLE)
#foreach($member in $members)
    .append("$member.name", this.$member.accessor)
#end
    .toString();
}
