public int hashCode() {
    return new org.apache.commons.lang3.builder.HashCodeBuilder()
    #if($superHasHashCode)
        .appendSuper(super.hashCode())
    #end
    #foreach($field in $fields)
        .append(this.$field.accessor)
    #end
        .toHashCode();
}
